Pheko.WebPresentation/Service References/PhekoService/PhekoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhekoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" />
      <xsd:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.UtilityComponent" />
      <xsd:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" />
      <xsd:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.Enums" />
      <xsd:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd6" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhekoService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SaveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUser" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SaveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientDetails" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatient" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientMedicalAidDependancy_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientMedicalAidDependancy" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientMedicalAidDependancy_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientMedicalAidDependancyResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientConsultation_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientConsultation" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientConsultation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientConsultationResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientConsultations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientConsultations" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientConsultations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientConsultationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientVitalSigns_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientVitalSigns" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientVitalSigns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientVitalSignsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientVitalSigns_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientVitalSigns" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientVitalSigns_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientVitalSignsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientMedicalNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientMedicalNotes" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientMedicalNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientMedicalNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientMedicalNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientMedicalNotes" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientMedicalNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientMedicalNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientChronicDeseases_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientChronicDeseases" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientChronicDeseases_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientChronicDeseasesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientChronicDeseases_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientChronicDeseases" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientChronicDeseases_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientChronicDeseasesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientDeseaseScreenings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientDeseaseScreenings" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientDeseaseScreenings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientDeseaseScreeningsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientDeseaseScreenings_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientDeseaseScreenings" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientDeseaseScreenings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientDeseaseScreeningsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientPastMedicalHistories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientPastMedicalHistories" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientPastMedicalHistories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientPastMedicalHistoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientPastMedicalHistories_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientPastMedicalHistories" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientPastMedicalHistories_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientPastMedicalHistoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientClinicalExaminations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientClinicalExaminations" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientClinicalExaminations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientClinicalExaminationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientClinicalExaminations_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientClinicalExaminations" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientClinicalExaminations_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientClinicalExaminationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientMedicalMonitorings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientMedicalMonitorings" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientMedicalMonitorings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientMedicalMonitoringsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientMedicalMonitorings_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientMedicalMonitorings" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientMedicalMonitorings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientMedicalMonitoringsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientConsultationSickNote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientConsultationSickNote" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientConsultationSickNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientConsultationSickNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientConsultationSickNote_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientConsultationSickNote" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_SavePatientConsultationSickNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePatientConsultationSickNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetCountryProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryProvinces" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetCountryProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetFieldValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldValues" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetFieldValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetDoctors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctors" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetDoctors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientSchedule" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientSickNoteSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientSickNoteSchedule" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientSickNoteSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientSickNoteScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientScriptNoteSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientScriptNoteSchedule" />
  </wsdl:message>
  <wsdl:message name="IPhekoService_GetPatientScriptNoteSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientScriptNoteScheduleResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhekoService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/Login" message="tns:IPhekoService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/LoginResponse" message="tns:IPhekoService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/ResetPassword" message="tns:IPhekoService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/ResetPasswordResponse" message="tns:IPhekoService_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/ChangePassword" message="tns:IPhekoService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/ChangePasswordResponse" message="tns:IPhekoService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SaveUser" message="tns:IPhekoService_SaveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SaveUserResponse" message="tns:IPhekoService_SaveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetUsers" message="tns:IPhekoService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetUsersResponse" message="tns:IPhekoService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientDetails" message="tns:IPhekoService_GetPatientDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientDetailsResponse" message="tns:IPhekoService_GetPatientDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/Search" message="tns:IPhekoService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SearchResponse" message="tns:IPhekoService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatient" message="tns:IPhekoService_SavePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientResponse" message="tns:IPhekoService_SavePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientMedicalAidDependancy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatientMedicalAidDependancy" message="tns:IPhekoService_SavePatientMedicalAidDependancy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientMedicalAidDependancyResponse" message="tns:IPhekoService_SavePatientMedicalAidDependancy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientConsultation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatientConsultation" message="tns:IPhekoService_SavePatientConsultation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientConsultationResponse" message="tns:IPhekoService_SavePatientConsultation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientConsultations">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientConsultations" message="tns:IPhekoService_GetPatientConsultations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientConsultationsResponse" message="tns:IPhekoService_GetPatientConsultations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientVitalSigns">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientVitalSigns" message="tns:IPhekoService_GetPatientVitalSigns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientVitalSignsResponse" message="tns:IPhekoService_GetPatientVitalSigns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientVitalSigns">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatientVitalSigns" message="tns:IPhekoService_SavePatientVitalSigns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientVitalSignsResponse" message="tns:IPhekoService_SavePatientVitalSigns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientMedicalNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientMedicalNotes" message="tns:IPhekoService_GetPatientMedicalNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientMedicalNotesResponse" message="tns:IPhekoService_GetPatientMedicalNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientMedicalNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatientMedicalNotes" message="tns:IPhekoService_SavePatientMedicalNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientMedicalNotesResponse" message="tns:IPhekoService_SavePatientMedicalNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientChronicDeseases">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientChronicDeseases" message="tns:IPhekoService_GetPatientChronicDeseases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientChronicDeseasesResponse" message="tns:IPhekoService_GetPatientChronicDeseases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientChronicDeseases">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatientChronicDeseases" message="tns:IPhekoService_SavePatientChronicDeseases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientChronicDeseasesResponse" message="tns:IPhekoService_SavePatientChronicDeseases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientDeseaseScreenings">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientDeseaseScreenings" message="tns:IPhekoService_GetPatientDeseaseScreenings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientDeseaseScreeningsResponse" message="tns:IPhekoService_GetPatientDeseaseScreenings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientDeseaseScreenings">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatientDeseaseScreenings" message="tns:IPhekoService_SavePatientDeseaseScreenings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientDeseaseScreeningsResponse" message="tns:IPhekoService_SavePatientDeseaseScreenings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientPastMedicalHistories">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientPastMedicalHistories" message="tns:IPhekoService_GetPatientPastMedicalHistories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientPastMedicalHistoriesResponse" message="tns:IPhekoService_GetPatientPastMedicalHistories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientPastMedicalHistories">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatientPastMedicalHistories" message="tns:IPhekoService_SavePatientPastMedicalHistories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientPastMedicalHistoriesResponse" message="tns:IPhekoService_SavePatientPastMedicalHistories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientClinicalExaminations">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientClinicalExaminations" message="tns:IPhekoService_GetPatientClinicalExaminations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientClinicalExaminationsResponse" message="tns:IPhekoService_GetPatientClinicalExaminations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientClinicalExaminations">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatientClinicalExaminations" message="tns:IPhekoService_SavePatientClinicalExaminations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientClinicalExaminationsResponse" message="tns:IPhekoService_SavePatientClinicalExaminations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientMedicalMonitorings">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientMedicalMonitorings" message="tns:IPhekoService_GetPatientMedicalMonitorings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientMedicalMonitoringsResponse" message="tns:IPhekoService_GetPatientMedicalMonitorings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientMedicalMonitorings">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatientMedicalMonitorings" message="tns:IPhekoService_SavePatientMedicalMonitorings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientMedicalMonitoringsResponse" message="tns:IPhekoService_SavePatientMedicalMonitorings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientConsultationSickNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientConsultationSickNote" message="tns:IPhekoService_GetPatientConsultationSickNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientConsultationSickNoteResponse" message="tns:IPhekoService_GetPatientConsultationSickNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientConsultationSickNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/SavePatientConsultationSickNote" message="tns:IPhekoService_SavePatientConsultationSickNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/SavePatientConsultationSickNoteResponse" message="tns:IPhekoService_SavePatientConsultationSickNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetCountries" message="tns:IPhekoService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetCountriesResponse" message="tns:IPhekoService_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryProvinces">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetCountryProvinces" message="tns:IPhekoService_GetCountryProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetCountryProvincesResponse" message="tns:IPhekoService_GetCountryProvinces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetFieldValues" message="tns:IPhekoService_GetFieldValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetFieldValuesResponse" message="tns:IPhekoService_GetFieldValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctors">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetDoctors" message="tns:IPhekoService_GetDoctors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetDoctorsResponse" message="tns:IPhekoService_GetDoctors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetRoles" message="tns:IPhekoService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetRolesResponse" message="tns:IPhekoService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientSchedule" message="tns:IPhekoService_GetPatientSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientScheduleResponse" message="tns:IPhekoService_GetPatientSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientSickNoteSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientSickNoteSchedule" message="tns:IPhekoService_GetPatientSickNoteSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientSickNoteScheduleResponse" message="tns:IPhekoService_GetPatientSickNoteSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientScriptNoteSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhekoService/GetPatientScriptNoteSchedule" message="tns:IPhekoService_GetPatientScriptNoteSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhekoService/GetPatientScriptNoteScheduleResponse" message="tns:IPhekoService_GetPatientScriptNoteSchedule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhekoService" type="tns:IPhekoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SaveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetails">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatient">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatientMedicalAidDependancy">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatientMedicalAidDependancy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatientConsultation">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatientConsultation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientConsultations">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientConsultations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientVitalSigns">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientVitalSigns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatientVitalSigns">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatientVitalSigns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientMedicalNotes">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientMedicalNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatientMedicalNotes">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatientMedicalNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientChronicDeseases">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientChronicDeseases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatientChronicDeseases">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatientChronicDeseases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientDeseaseScreenings">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientDeseaseScreenings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatientDeseaseScreenings">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatientDeseaseScreenings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientPastMedicalHistories">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientPastMedicalHistories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatientPastMedicalHistories">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatientPastMedicalHistories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientClinicalExaminations">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientClinicalExaminations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatientClinicalExaminations">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatientClinicalExaminations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientMedicalMonitorings">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientMedicalMonitorings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatientMedicalMonitorings">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatientMedicalMonitorings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientConsultationSickNote">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientConsultationSickNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatientConsultationSickNote">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/SavePatientConsultationSickNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryProvinces">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetCountryProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldValues">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetFieldValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctors">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetDoctors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientSchedule">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientSickNoteSchedule">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientSickNoteSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientScriptNoteSchedule">
      <soap:operation soapAction="http://tempuri.org/IPhekoService/GetPatientScriptNoteSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhekoService">
    <wsdl:port name="BasicHttpBinding_IPhekoService" binding="tns:BasicHttpBinding_IPhekoService">
      <soap:address location="http://localhost:53085/PhekoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>