Pheko.ServiceTest/Service References/PhekoService/PhekoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.UtilityComponent" />
  <xs:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" />
  <xs:complexType name="SecurityUserDtoResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SecurityUserDto" Namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pheko.Common.UtilityComponent" minOccurs="0" name="FieldErrors" nillable="true" type="q1:ArrayOfFieldError" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="Model" nillable="true" type="q2:SecurityUserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityUserDtoResponse" nillable="true" type="tns:SecurityUserDtoResponse" />
  <xs:complexType name="PatientDetailResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pheko.Common.UtilityComponent" minOccurs="0" name="FieldErrors" nillable="true" type="q3:ArrayOfFieldError" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="Patient" nillable="true" type="q4:PatientDto" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="PatientMedicalAidDependancies" nillable="true" type="q5:ArrayOfPatientMedicalAidDependancyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDetailResponse" nillable="true" type="tns:PatientDetailResponse" />
  <xs:complexType name="PatientDtoResult">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Result" Namespace="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PatientDto" Namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="Models" nillable="true" type="q6:ArrayOfPatientDto" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDtoResult" nillable="true" type="tns:PatientDtoResult" />
  <xs:complexType name="PatientMedicalAidDependancyDtoResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PatientMedicalAidDependancyDto" Namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pheko.Common.UtilityComponent" minOccurs="0" name="FieldErrors" nillable="true" type="q7:ArrayOfFieldError" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="Model" nillable="true" type="q8:PatientMedicalAidDependancyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientMedicalAidDependancyDtoResponse" nillable="true" type="tns:PatientMedicalAidDependancyDtoResponse" />
  <xs:complexType name="PatientConsultationDtoResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PatientConsultationDto" Namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pheko.Common.UtilityComponent" minOccurs="0" name="FieldErrors" nillable="true" type="q9:ArrayOfFieldError" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="Model" nillable="true" type="q10:PatientConsultationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientConsultationDtoResponse" nillable="true" type="tns:PatientConsultationDtoResponse" />
  <xs:complexType name="PatientConsultationDtoResult">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Result" Namespace="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PatientConsultationDto" Namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="Models" nillable="true" type="q11:ArrayOfPatientConsultationDto" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientConsultationDtoResult" nillable="true" type="tns:PatientConsultationDtoResult" />
</xs:schema>