Pheko.ServiceTest/Service References/PhekoService/PhekoService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" />
  <xs:import schemaLocation="http://localhost:53085/PhekoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" minOccurs="0" name="LoginResult" nillable="true" type="q1:SecurityUserDtoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q2:SecurityUserDtoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q3:SecurityUserDtoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="securityUser" nillable="true" type="q4:SecurityUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" minOccurs="0" name="SaveUserResult" nillable="true" type="q5:SecurityUserDtoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" minOccurs="0" name="GetPatientDetailsResult" nillable="true" type="q6:PatientDetailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="searchPatient" nillable="true" type="q7:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" minOccurs="0" name="SearchResult" nillable="true" type="q8:PatientDtoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="patientDto" nillable="true" type="q9:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" minOccurs="0" name="SavePatientResult" nillable="true" type="q10:PatientDetailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientMedicalAidDependancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="patientMedicalAidDependancyDto" nillable="true" type="q11:PatientMedicalAidDependancyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientMedicalAidDependancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" minOccurs="0" name="SavePatientMedicalAidDependancyResult" nillable="true" type="q12:PatientMedicalAidDependancyDtoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientConsultation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="patientConsultationDto" nillable="true" type="q13:PatientConsultationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientConsultationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" minOccurs="0" name="SavePatientConsultationResult" nillable="true" type="q14:PatientConsultationDtoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientConsultations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientConsultationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Pheko.ServicePresentation.ServiceResponses" minOccurs="0" name="GetPatientConsultationsResult" nillable="true" type="q15:PatientConsultationDtoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="GetCountriesResult" nillable="true" type="q16:ArrayOfCountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryProvinces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryProvincesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="GetCountryProvincesResult" nillable="true" type="q17:ArrayOfProvinceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Pheko.Common.DataTransformObjects" minOccurs="0" name="GetFieldValuesResult" nillable="true" type="q18:ArrayOfFieldValueDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>